<div class="bde-simple-counter__wrapper">
  <{{ content.counter.html_tags.number|default('h6') }} class="bde-simple-counter__number">
    <span class="bde-simple-counter__prefix">{{ content.counter.prefix }}</span>
    <span class="bde-simple-counter__digit js-digit"></span>
    <span class="bde-simple-counter__suffix">{{ content.counter.suffix }}</span>
  </{{ content.counter.html_tags.number|default('h6') }}>
  {% if content.counter.title %}
  	<{{ content.counter.html_tags.title|default('div') }} class="bde-simple-counter__title" {{ dataContentEditablePropertyPath('content.counter.title') }}>{{ content.counter.title }}</{{ content.counter.html_tags.title|default('div') }}>
  {% endif %}
</div>
